.services {
    background: #1c242a;
    padding: 50px 0 75px;

    @media(max-width:575px){
        padding: 25px 0 35px;
    }
    &__row {
        padding-top: 45px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -35px;

        @media(max-width:990px){
            padding-top: 0;
        }
    }

    &__column {
        padding: 0 35px;
        flex: 0 1 33.33333%;

        @media(max-width:990px){
            flex:0 1 50%;
            max-width:400px;
            margin: 0 auto 45px;

            &:last-child{
                margin-bottom: 0;
            }
        }
        @media(max-width:575px){
            flex:0 1 100%;
        }
    }

    &-item {
        text-align: center;
        &__iccon {
            img{
                width: 125px;
                height: 125px;
            }
        }

        &__title {
            font-family: "pfdintextcondpro";
            font-weight: 500;
            margin: 25px 0;
            font-size: 21px;
            color: $white;
            text-transform: uppercase;

            @media(max-width:767px){
                margin: 10px 0;
            }
        }

        &__description {
            font-size: 15px;
            line-height: 25px;
            color: #bb9c66;
            margin-bottom: 20px;

            @media(max-width:767px){
                margin-bottom: 10px;
            }
        }

        &__suptitle {
            display: block;
            font-family: "pfdintextcondpro";
            font-weight: 500;
            font-size: 21px;
            color: $white;
            text-transform: uppercase;
            position: relative;
            letter-spacing: 2px;


            &:before {
                content: " ";
                display: block;
                height: 1px;
                width: 50px;
                background: #bb9c66;
                position: absolute;
                top:50%;
                left:0;
                transform: translateY(-50%);

                @media(max-width:990px){
                    left:30px;
                }
                @media(max-width:710px){
                    left:0;
                }
                @media(max-width:575px){
                    left:15px;
                }
            }
            &:after {
                content: " ";
                display: block;
                height: 1px;
                width: 50px;
                background: #bb9c66;
                position: absolute;
                top:50%;
                right:0;
                transform: translateY(-50%);

                @media(max-width:990px){
                    right:30px;
                }
                @media(max-width:710px){
                    right:0;
                }
                @media(max-width:575px){
                    right:15px;
                }
            }
        }
    }
}
