@charset "UTF-8";

@font-face {
  font-family: "BravoRGRegular";
  font-display: swap;
  src: url("../fonts/BravoRGRegular.woff") format("woff"), url("../fonts/BravoRGRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ceremonious_one";
  font-display: swap;
  src: url("../fonts/ceremonious_one.woff") format("woff"), url("../fonts/ceremonious_one.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "pfdintextcondpro";
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-medium.woff") format("woff"), url("../fonts/pfdintextcondpro-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "pfdintextcondpro";
  font-display: swap;
  src: url("../fonts/pfdintextcondpro-regular.woff") format("woff"), url("../fonts/pfdintextcondpro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.nav-toggle {
  position: relative;
  z-index: 2;
  display: none;
  background: none;
  border: 0;
  padding: 9px 1px;
  cursor: pointer;
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle__item {
  width: 30px;
  height: 3px;
  background: #bb9c66;
  display: block;
  font-size: 0;
  color: transparent;
  position: relative;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
  background: #bb9c66;
  position: absolute;
  right: 0;
  z-index: 1;
}

.nav-toggle__item:before {
  top: -8px;
}

.nav-toggle__item:after {
  bottom: -8px;
}

.nav-toggle._active .nav-toggle__item {
  background: none;
}

.nav-toggle._active .nav-toggle__item:before {
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: rotate(45deg) translateX(-3px);
  -ms-transform: rotate(45deg) translateX(-3px);
  transform: rotate(45deg) translateX(-3px);
}

.nav-toggle._active .nav-toggle__item:after {
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translateX(-3px);
  -ms-transform: rotate(-45deg) translateX(-3px);
  transform: rotate(-45deg) translateX(-3px);
}

.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: color .2s linear,-webkit-transform .2s linear;
  transition: color .2s linear,-webkit-transform .2s linear;
  -o-transition: transform .2s linear,color .2s linear;
  transition: transform .2s linear,color .2s linear;
  transition: transform .2s linear,color .2s linear,-webkit-transform .2s linear;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  color: #d89e3a;
}

.btn:after {
  content: " ";
  display: block;
  width: 250px;
  height: 3px;
  background-image: -webkit-gradient(linear, right top, left top, from(#bb9c66), to(#d89e3a));
  background-image: -o-linear-gradient(right, #bb9c66, #d89e3a);
  background-image: linear-gradient(to left, #bb9c66, #d89e3a);
  margin-top: 15px;
}

.btn:before {
  content: " ";
  display: block;
  width: 250px;
  height: 3px;
  margin-bottom: 15px;
  background-image: -webkit-gradient(linear, left top, right top, from(#bb9c66), to(#c2851c));
  background-image: -o-linear-gradient(left, #bb9c66, #c2851c);
  background-image: linear-gradient(to right, #bb9c66, #c2851c);
}

.btn span:after {
  content: " ";
  display: block;
  width: 3px;
  height: 55px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#bb9c66), to(#d89e3a));
  background-image: -o-linear-gradient(bottom, #bb9c66, #d89e3a);
  background-image: linear-gradient(to top, #bb9c66, #d89e3a);
  position: absolute;
  right: 0;
  top: 0;
}

.btn span:before {
  content: " ";
  display: block;
  width: 3px;
  height: 55px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bb9c66), to(#c2851c));
  background-image: -o-linear-gradient(top, #bb9c66, #c2851c);
  background-image: linear-gradient(to bottom, #bb9c66, #c2851c);
  position: absolute;
  left: 0;
  top: 0;
}

.btn.black {
  color: #000000;
}

.btn.black span {
  font-family: "pfdintextcondpro";
  font-weight: 500;
  font-size: 21px;
  letter-spacing: 0;
}

.btn.black span:after {
  height: 60px;
}

.btn.black span:before {
  height: 60px;
}

.btn.black:hover {
  -webkit-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  transform: translateY(-3px);
  color: #d89e3a;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

/* Ограничивающая оболочка */

.slick-list {
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

/* Слайд */

.slick-slide:focus {
  outline: none;
}

.intro__slider .slick-arrow {
  position: absolute;
  bottom: 0;
  z-index: 10;
  font-size: 0;
  width: 14px;
  height: 24px;
  background: none;
  border: 0;
  cursor: pointer;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.intro__slider .slick-arrow:focus {
  outline: none;
}

.no-webp .intro__slider .slick-arrow.slick-prev{
  background: url("../img/mainslider/prev.png") 0 0/100% repeat; }

.intro__slider .slick-arrow.slick-prev {
  left: 47%;
}

.no-webp .intro__slider .slick-arrow.slick-next{
  background: url("../img/mainslider/next.png") 0 0/100% repeat; }

.intro__slider .slick-arrow.slick-next {
  right: 47%;
}

.section-header__content {
  text-align: center;
}

.section-header .container {
  position: relative;
}

.section-header__title {
  font-family: "ceremonious_one";
  font-size: 40px;
  line-height: 25px;
  color: #bb9c66;
  font-weight: normal;
}

.section-header__suptitle {
  font-family: "pfdintextcondpro";
  font-size: 35px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 5.25px;
  text-transform: uppercase;
  color: #1c242a;
  margin: 27px 0 21px;
}

.section-header__suptitle_services {
  color: #fff;
}

.section-header__decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-header__left {
  width: 100%;
  height: 1px;
  background-color: #bb9c66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.section-header__left:before {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  border: solid 1px #bb9c66;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: -45px;
}

.section-header__left:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border: solid 1px #bb9c66;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  right: -17px;
}

.section-header__left span {
  width: 25px;
  height: 25px;
  border: solid 1px #bb9c66;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  right: -85px;
}

.section-header__iccon {
  padding: 0 118px;
}

.section-header__right {
  width: 100%;
  height: 1px;
  background-color: #bb9c66;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 10px;
  position: relative;
}

.section-header__right:after {
  content: " ";
  display: block;
  width: 15px;
  height: 15px;
  border: solid 1px #bb9c66;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: -45px;
}

.section-header__right:before {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border: solid 1px #bb9c66;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: -17px;
}

.section-header__right span {
  width: 25px;
  height: 25px;
  border: solid 1px #bb9c66;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: -85px;
}

.header {
  height: 75px;
  background-color: #1c242a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__customization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 5;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.header-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-menu-list__item + .header-menu-list__item {
  margin-left: 30px;
}

.header-menu-list__link {
  line-height: 21px;
  letter-spacing: 1.4px;
  color: #fff;
  text-transform: uppercase;
  font-family: "pfdintextcondpro";
  font-size: 14px;
  position: relative;
}

.header-menu-list__link:after {
  content: " ";
  display: block;
  margin-top: 3px;
  height: 3px;
  width: 0;
  background: #b09e9d;
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-transition: 0.4s width linear;
  -o-transition: 0.4s width linear;
  transition: 0.4s width linear;
}

.header-menu-list__link:hover:after {
  width: 100%;
}

.region-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.region-header__iccon {
  margin-right: 11px;
}

.region-header__title {
  line-height: 21px;
  letter-spacing: 1.4px;
  color: #fff;
  text-transform: uppercase;
  font-family: "pfdintextcondpro";
  font-size: 14px;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.region-header__title:hover {
  color: #b09e9d;
}

.user-header {
  margin-left: 30px;
}

.user-header-menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 10;
  background-color: #1c242a;
  padding: 15px;
}

.user-header-menu.active {
  opacity: 1;
  visibility: visible;
}

.no-webp .user-header-menu__item_1{
  background: url("../../img/header/item-1.png") left center no-repeat; }

.no-webp .user-header-menu__item_2{
  background: url("../../img/header/item-2.png") left center no-repeat; }

.no-webp .user-header-menu__item_3{
  background: url("../../img/header/item-3.png") 4px center no-repeat; }

.no-webp .user-header-menu__item_4{
  background: url("../../img/header/item-4.png") left center no-repeat; }

.user-header-menu__item + .user-header-menu__item {
  margin-top: 9px;
}

.user-header-menu__title {
  color: #fff;
  font-size: 14px;
  padding-left: 30px;
}

.intro {
  position: relative;
  margin-bottom: 85px;
}

.intro__control {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
}

.item-intro {
  position: relative;
  padding: 34px 0 100px;
  text-align: center;
}

.item-intro__bg {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-intro__content {
  position: relative;
  z-index: 4;
}

.item-intro__title {
  font-family: "ceremonious_one";
  font-size: 40px;
  line-height: 25px;
  letter-spacing: normal;
  color: #bb9c66;
  margin-bottom: 23px;
  font-weight: normal;
}

.item-intro__suptitle {
  font-family: "pfdintextcondpro";
  text-transform: uppercase;
  font-size: 35px;
  font-weight: normal;
  line-height: 35px;
  letter-spacing: 5.25px;
  color: #fff;
  margin-bottom: 22px;
}

.item-intro__description {
  font-size: 15px;
  line-height: 25px;
  color: #fff;
  width: 100%;
  max-width: 688px;
  margin: 0 auto;
}

.item-intro__btn {
  margin-top: 45px;
  position: relative;
  display: block;
}

.control-intro__row {
  width: 75px;
  height: 75px;
  display: block;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
}

.control-intro__arrow {
  width: 14px;
  height: 24px;
  display: block;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: absolute;
}

.no-webp .control-intro__arrow_left{
  background: url("../../img/mainslider/left-arrow.png") no-repeat left center; }

.control-intro__arrow_left {
  left: 0;
}

.no-webp .control-intro__arrow_right{
  background: url("../../img/mainslider/right-arrow.png") no-repeat right center; }

.control-intro__arrow_right {
  right: 0;
}

.control-intro__decor {
  -webkit-animation: decor 5s infinite linear;
  animation: decor 5s infinite linear;
}

@-webkit-keyframes decor {
  0% {

  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes decor {
  0% {

  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.lots {
  margin-top: 55px;
  margin-bottom: 100px;
}

.lots__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -40px;
}

.lots__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.33333%;
  flex: 0 1 33.33333%;
  padding: 0 40px;
}

.lots-item {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.lots-item__header {
  position: relative;
  margin-bottom: 30px;
}

.lots-item__img {
  border: solid 3px #bb9c66;
  display: block;
  height: 250px;
}

.lots-item__content {
  position: relative;
}

.lots-item__title {
  display: block;
  font-family: "pfdintextcondpro";
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.lots-item__title:focus {
  outline: none;
}

.lots-item__title:hover {
  text-decoration: underline;
}

.lots-item__btn {
  margin-top: 35px;
}

.timer-lots-item {
  width: 100px;
  height: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 1;
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
}

.timer-lots-item div {
  position: relative;
  z-index: 2;
}

.timer-lots-item:before {
  content: " ";
  display: block;
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.timer-lots-item__iccon {
  margin-bottom: 7px;
}

.timer-lots-item__time {
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.lots-item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lots-item-price__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.lots-item-price__block:after {
  content: " ";
  display: block;
  height: 1px;
  width: 41px;
  background-color: #bb9c66;
  margin-top: 4px;
}

.lots-item-price__block span {
  font-size: 14px;
  color: #000000;
}

.lots-item-price__current:after {
  content: " ";
  display: block;
  width: 75px;
  height: 75px;
  border: solid 1px #bb9c66;
  position: absolute;
  top: 48%;
  left: 35%;
  -webkit-transform: rotate(45deg) translate3d(-50%, -50%, 0);
  transform: rotate(45deg) translate3d(-50%, -50%, 0);
}

.lots-item-price__current:after div {
  position: relative;
  z-index: 2;
}

.lots-item-price__title {
  font-size: 14px;
  color: #000000;
}

.lots-item-price__price {
  font-family: "BravoRGRegular";
  font-size: 50px;
  line-height: 21px;
  color: #1c242a;
  padding: 20px 17px 17px;
}

.lots__footer {
  margin-top: 50px;
}

.lots__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.control-lots__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.control-lots__arrow_left:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border: solid 1px #bb9c66;
  background-color: transparent;
  border-radius: 50%;
  margin-left: 10px;
  margin-bottom: 4px;
}

.control-lots__arrow_right:before {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border: solid 1px #bb9c66;
  background-color: transparent;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 4px;
}

.no-webp .control-lots__link{
  background: url("../../img/lots/link.png") no-repeat center center; }

.control-lots__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 0 51px;
  width: 100px;
  height: 100px;
  font-family: "pfdintextcondpro";
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  color: #000000;
  text-transform: uppercase;
}

.products {
  padding-bottom: 120px;
}

.products__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -50px;
}

.products__column {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.33333%;
  flex: 0 1 33.33333%;
  padding: 0 50px;
  position: relative;
}

.products__column:nth-child(7):after {
  display: none;
}

.products__column:nth-child(8):after {
  display: none;
}

.products__column:nth-child(9):after {
  display: none;
}

.products__column:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bb9c66;
  margin: 25px auto;
}

.products__footer {
  margin-top: 80px;
  padding-left: 130px;
  position: relative;
}

.no-webp .products__footer:before{
  background: url("../../img/products/footer-bg.png") no-repeat left; }

.products__footer:before {
  content: " ";
  display: block;
  width: 85px;
  height: 375px;
  position: absolute;
  left: 0;
  top: 0;
}

.products__description {
  font-size: 15px;
  line-height: 25px;
  color: #333333;
}

.products__description p + .products__description p {
  margin-top: 25px;
}

.products-item {
  position: relative;
  display: block;
  text-align: center;
  cursor: pointer;
}

.products-item:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.products-item:hover:after {
  opacity: 0.5;
}

.products-item__img {
  position: relative;
  padding-bottom: 100%;
  display: block;
}

.products-item__iccon {
  max-width: 100%;
  position: absolute;
  top: 26px;
  left: 50%;
  z-index: 5;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.products-item__title {
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  z-index: 5;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 2.1px;
  color: #fff;
  text-transform: uppercase;
  font-family: "pfdintextcondpro";
}

.products-item__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 39px;
  z-index: 5;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.products-item__figure_1 {
  width: 30px;
  height: 1px;
  background: #bb9c66;
}

.products-item__figure_2 {
  width: 20px;
  height: 20px;
  border: solid 1px #bb9c66;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: 0 20px;
}

.products-item__figure_3 {
  width: 30px;
  height: 1px;
  background: #bb9c66;
}

.services {
  background: #1c242a;
  padding: 50px 0 75px;
}

.services__row {
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -35px;
}

.services__column {
  padding: 0 35px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 33.33333%;
  flex: 0 1 33.33333%;
}

.services-item {
  text-align: center;
}

.services-item__iccon img {
  width: 125px;
  height: 125px;
}

.services-item__title {
  font-family: "pfdintextcondpro";
  font-weight: 500;
  margin: 25px 0;
  font-size: 21px;
  color: #fff;
  text-transform: uppercase;
}

.services-item__description {
  font-size: 15px;
  line-height: 25px;
  color: #bb9c66;
  margin-bottom: 20px;
}

.services-item__suptitle {
  font-family: "pfdintextcondpro";
  font-weight: 500;
  font-size: 21px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 2px;
}

.services-item__suptitle:before {
  content: " ";
  display: block;
  height: 1px;
  width: 50px;
  background: #bb9c66;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.services-item__suptitle:after {
  content: " ";
  display: block;
  height: 1px;
  width: 50px;
  background: #bb9c66;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.quotes {
  padding: 65px 0;
}

.quotes__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.quotes__main {
  padding: 50px 0;
}

.quotes__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quotes-block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.quotes-block-header__iccon {
  padding-right: 15px;
}

.quotes-block-header__title {
  font-size: 35px;
  line-height: 25px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
}

.quotes-block-block + .quotes-block-block {
  margin-top: 25px;
}

.quotes-block-block__date {
  font-size: 12px;
  color: #bb9c66;
  margin-bottom: 7px;
}

.quotes-block-block__text {
  font-size: 15px;
  color: #333333;
  line-height: 25px;
}

.quotes-block-block__text_und {
  text-decoration: underline;
}

.quotes-block-block__text_und:hover {
  text-decoration: none;
}

.quotes__description {
  color: #333333;
  line-height: 25px;
  font-size: 15px;
  width: 100%;
  max-width: 440px;
}

.quotes__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.quotes-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 45px;
  position: relative;
  width: 440px;
}

.quotes-form-email {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.quotes-form-email__input {
  width: 100%;
  background: none;
  border: 3px solid #bb9c66;
  padding: 10px 15px;
  font-size: 15px;
  line-height: 25px;
}

.quotes-form-email__input::-webkit-input-placeholder {
  color: #4f4f4f;
}

.quotes-form-email__input::-moz-placeholder {
  color: #4f4f4f;
}

.quotes-form-email__input:-ms-input-placeholder {
  color: #4f4f4f;
}

.quotes-form-email__input::-ms-input-placeholder {
  color: #4f4f4f;
}

.quotes-form-email__input::placeholder {
  color: #4f4f4f;
}

.quotes-form-email__input:focus {
  outline: none;
}

.quotes-form-submit {
  position: absolute;
  right: 20px;
}

.quotes-form-submit:before {
  content: " ";
  display: block;
  width: 1px;
  height: 34px;
  background: #bb9c66;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.no-webp .quotes-form-submit:after{
  background: url("../../img/quotes/arrow-right.png") no-repeat right; }

.quotes-form-submit:after {
  content: " ";
  display: inline-block;
  width: 22px;
  height: 16px;
}

.quotes-form-submit__input {
  margin-left: 10px;
  border: 0;
  background: none;
  font-family: "pfdintextcondpro";
  font-weight: 500;
  font-size: 22px;
  color: #1c242a;
  text-transform: uppercase;
  cursor: pointer;
}

.quotes-form-submit__input:focus {
  outline: none;
}

.slider-quotes-item {
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider-quotes-item__text {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding-left: 45px;
}

.slider-quotes-item__description {
  font-size: 25px;
  line-height: 30px;
  font-style: italic;
  margin-bottom: 20px;
}

.slider-quotes-item__author {
  font-size: 15px;
  line-height: 25px;
}

.slider-quotes-item__date {
  font-size: 15px;
  line-height: 25px;
}

.row-quotes__arrow_left:before {
  content: " ";
  display: block;
  width: 100px;
  height: 1px;
  background: #bb9c66;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.row-quotes__arrow_left:after {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #bb9c66;
  position: absolute;
  top: 50%;
  left: 105px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.row-quotes__arrow_right:before {
  content: " ";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #bb9c66;
  position: absolute;
  top: 50%;
  right: 105px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.row-quotes__arrow_right:after {
  content: " ";
  display: block;
  width: 100px;
  height: 1px;
  background: #bb9c66;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.footer {
  background: #1c242a;
  padding: 45px 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__navigation {
  margin-left: 15px;
}

.footer__phone {
  color: #bb9c66;
  font-size: 40px;
  line-height: 25px;
  padding-left: 15px;
}

.footer__phone sup {
  font-size: 25px;
}

.footer__bottom {
  position: relative;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__copy {
  font-size: 14px;
  color: #bb9c66;
}

.footer__connection {
  font-size: 14px;
  color: #bb9c66;
  position: relative;
}

.footer__connection:hover:after {
  opacity: 1;
  visibility: visible;
}

.no-webp .footer__connection:before{
  background: url("../../img/footer/footer__arrow.png") no-repeat left; }

.footer__connection:before {
  content: " ";
  display: inline-block;
  width: 10px;
  height: 10px;
}

.no-webp .footer__connection:after{
  background: url("../../img/footer/bg-border.png") no-repeat bottom; }

.footer__connection:after {
  content: " ";
  display: block;
  position: absolute;
  left: 15px;
  width: 85%;
  height: 1px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-menu-list__item + .footer-menu-list__item {
  margin-left: 15px;
}

.footer-menu-list__link {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "pfdintextcondpro";
  -webkit-transition: color .2s ease 0s;
  -o-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
}

.footer-menu-list__link:hover {
  color: #bb9c66;
}

.footer-faq-menu {
  margin-top: 5px;
}

.footer-faq-menu__link {
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: "pfdintextcondpro";
  -webkit-transition: color .2s ease 0s;
  -o-transition: color .2s ease 0s;
  transition: color .2s ease 0s;
}

.footer-faq-menu__link:hover {
  color: #bb9c66;
}

.footer-faq-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-faq-menu-list__item + .footer-faq-menu-list__item {
  margin-left: 15px;
}

.global-wrapper {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 955px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "PT Sans";
  color: #333333;
  font-size: 15px;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 4px;
}

@media (max-width: 1075px) {
  .intro__slider .slick-arrow.slick-prev {
    left: 46%;
  }

  .intro__slider .slick-arrow.slick-next {
    right: 46%;
  }
}

@media (max-width: 1023px) {
  .lots-item__img {
    max-width: 300px;
    margin: 0 auto;
  }

  .lots-item__title {
    font-size: 19px;
    max-width: 300px;
    margin: 0 auto 30px;
  }

  .lots-item-price__current:after {
    top: 48%;
    left: 41%;
  }
}

@media (max-width: 900px) {
  .region-header__title {
    display: none;
  }

  .user-header {
    margin-left: 15px;
  }

  .user-header-menu {
    min-width: 160px;
  }
}

@media (max-width: 875px) {
  .intro__slider .slick-arrow.slick-prev {
    left: 45%;
  }

  .intro__slider .slick-arrow.slick-next {
    right: 45%;
  }
}

@media (max-width: 767px) {
  .nav-toggle {
    display: block;
  }

  .header__inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header-menu {
    background-color: rgba(28, 36, 42, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 95px 0 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header-menu:after {
    content: " ";
    background: #1c242a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
  }

  .header-menu._active {
    opacity: 1;
    visibility: visible;
  }

  .header-menu-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .header-menu-list__item + .header-menu-list__item {
    margin-left: 0;
  }

  .header-menu-list__item {
    padding-bottom: 15px;
  }

  .region-header__iccon {
    margin-right: 0;
  }

  .intro {
    margin-bottom: 65px;
  }

  .lots {
    margin-top: 0;
  }

  .lots-item-price__current:after {
    top: 47%;
    left: 44%;
  }
}

@media (max-width: 675px) {
  .intro__slider .slick-arrow.slick-prev {
    left: 44%;
  }

  .intro__slider .slick-arrow.slick-next {
    right: 44%;
  }
}

@media (max-width: 600px) {
  .lots-item__img {
    max-width: 230px;
  }
}

@media (max-width: 575px) {
  .intro__slider .slick-arrow.slick-prev {
    left: 43%;
  }

  .intro__slider .slick-arrow.slick-next {
    right: 43%;
  }
}

@media (max-width: 540px) {
  .control-lots__arrow_right:before {
    margin: 0 10px 4px;
  }

  .control-lots__link {
    display: none;
  }
}

@media (max-width: 530px) {
  .lots-item-price__current:after {
    top: 48%;
    left: 42%;
  }
}

@media (max-width: 475px) {
  .intro__slider .slick-arrow.slick-prev {
    left: 42%;
  }

  .intro__slider .slick-arrow.slick-next {
    right: 42%;
  }

  .section-header__suptitle {
    font-size: 31px;
    margin: 27px 0 0;
  }
}

@media (max-width: 430px) {
  .item-intro__suptitle {
    font-size: 26px;
  }
}

@media (max-width: 380px) {
  .section-header__title {
    font-size: 34px;
  }

  .section-header__suptitle {
    font-size: 25px;
  }
}

@media (max-width: 375px) {
  .intro__slider .slick-arrow.slick-prev {
    left: 39%;
  }

  .intro__slider .slick-arrow.slick-next {
    right: 39%;
  }
}

@media (max-width: 360px) {
  .section-header__left:after {
    display: none;
  }

  .section-header__right:before {
    display: none;
  }
}

@media (max-width: 327px) {
  .lots-item-price__current:after {
    top: 48%;
    left: 37%;
  }
}

.webp .intro__slider .slick-arrow.slick-prev{ background: url(../img/mainslider/prev.webp) 0 0/100% repeat; }

.webp .intro__slider .slick-arrow.slick-next{ background: url(../img/mainslider/next.webp) 0 0/100% repeat; }

.webp .user-header-menu__item_1{ background: url(../../img/header/item-1.webp) left center no-repeat; }

.webp .user-header-menu__item_2{ background: url(../../img/header/item-2.webp) left center no-repeat; }

.webp .user-header-menu__item_3{ background: url(../../img/header/item-3.webp) 4px center no-repeat; }

.webp .user-header-menu__item_4{ background: url(../../img/header/item-4.webp) left center no-repeat; }

.webp .control-intro__arrow_left{ background: url(../../img/mainslider/left-arrow.webp) no-repeat left center; }

.webp .control-intro__arrow_right{ background: url(../../img/mainslider/right-arrow.webp) no-repeat right center; }

.webp .control-lots__link{ background: url(../../img/lots/link.webp) no-repeat center center; }

.webp .products__footer:before{ background: url(../../img/products/footer-bg.webp) no-repeat left; }

.webp .quotes-form-submit:after{ background: url(../../img/quotes/arrow-right.webp) no-repeat right; }

.webp .footer__connection:before{ background: url(../../img/footer/footer__arrow.webp) no-repeat left; }

.webp .footer__connection:after{ background: url(../../img/footer/bg-border.webp) no-repeat bottom; }